bolzano/dati_scaricati/AFFLUENZE-SUM.CSV
bolzano/dati_scaricati/COLLEGAMENTI.CSV
bolzano/dati_scaricati/COMUNALI_AFFLUENZE.CSV
bolzano/dati_scaricati/COMUNALI_VOTISINDACI.CSV
bolzano/dati_scaricati/VOTICONSIGLIERI-SUM.CSV
bolzano/dati_scaricati/VOTICONSIGLIERI.CSV
bolzano/dati_scaricati/VOTILISTE-SUM.CSV
bolzano/dati_scaricati/VOTILISTE.CSV
bolzano/dati_scaricati/VOTILISTESINDACI-SUM.CSV
bolzano/dati_scaricati/VOTILISTESINDACI.CSV
bolzano/dati_scaricati/VOTISINDACI-SUM.CSV
Logger/logs/log_2023-07-04.txt
.vscode/launch.json
